.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    width: 40%;
    left: 30%;
    top: 15vh;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.header h2 {
    margin-left: 5px;
    padding-left: 5px;
}

.header .icon {
    margin-top: 2px;
    transform: scale(1.5);
}


@media (max-width: 768px) {
    .modal {
        width: 90%;
        left: 5%;
    }
} 


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.actions {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #c4eef2;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    position: relative;
}

.actions button:hover,
.actions button:active {
    background-color: #c4eef2;
    border-color: #c4eef2;
    color: black;
}

.actions .button--alt {
    color: #014034;
}

.actions .button {
    background-color: #038c73;
    color: white;
} */

.modalBody {
    display: flex;
    align-items: stretch;
    margin-bottom: 0.5rem;
    flex-direction: column;
    gap: 15px;
}


.modalBody label {
    font-weight: bold;
    margin-right: 1rem;
    color: black;
    display: block;
}

.modalBody input {
    width: 100% !important;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}
